.cart-block {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cart-block_total-price {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.cart-blokc_icon {
    cursor: pointer;
    position: relative;
}